.dotted-spaced-top {
  background-image: linear-gradient(to right, #fff 10%, #131013 0%);
  background-position: top;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}
.dotted-spaced-bottom {
  background-image: linear-gradient(to right, #fff 10%, #131013 0%);
  background-position: bottom;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}
.dotted-spaced-right {
  background-image: linear-gradient(to right, #fff 10%, #131013 0%);
  background-position: right;
  background-size: 10px 3px;
  background-repeat: repeat-y;
}
.dotted-spaced-left {
  background-image: linear-gradient(to right, #fff 10%, #131013 0%);
  background-position: left;
  background-size: 10px 3px;
  background-repeat: repeat-y;
}

.investor-glow {
  box-shadow: 0 5px 10px 0 #0a9996 inset, 0 5px 20px 0 #0a9996,
    0 5px 20px 0 #0a9996 inset, 0 5px 10px 0 #0a9996;
}
